:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --succes: #31D0AA;
    --text: #434455;
    --subtitle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-bg: #2E2F42;
    --white-bg: #ffffff;
    --modal-bg: #FCFCFC;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white-bg);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
}

.principal-navigation {
    display: flex;
    align-items: center
}

.logo-first {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px
}



.logo-second {

    color: var(--dark);


}

.logo-second-footer {
    color: var(--light);
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    display: inline-block;
}

.curent-page a {
    position: relative;
    color: var(--pressed-state);
    overflow: visible;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.curent-page a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--pressed-state);
    border-radius: 2px;



}




.navigation-item a:hover {
    color: var(--pressed-state);
}

.navigation-item a:focus {
    color: var(--pressed-state);
}

.navigation-link {
    padding: 24px 0 24px;
}

.adress {
    display: block;
    font-style: normal;
    margin: 24px 0 24px auto;

}

.adress-list {
    display: flex;
    gap: 40px;
    padding: 0;
    margin-right: 20px;



}



.mail-adress a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mail-adress a:hover {
    color: var(--pressed-state);
}

.mail-adress a:focus {
    color: var(--pressed-state);
}

.phone-number a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-number a:hover {
    color: var(--pressed-state);
}

.phone-number a:focus {
    color: var(--pressed-state);
}

/**--------------- main------------- */
.hero {
    background-color: var(--hero-bg);
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;

}





.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-bg);
    max-width: 496px;
    margin: 0 auto;

}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white-bg);
    background-color: var(--primary-brand);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 48px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.hero-button:hover {
    background-color: var(--pressed-state)
}

.hero-button:focus {
    background-color: var(--pressed-state)
}

.features-section {
    padding: 120px 0 120px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    padding: 0;


}



.fetures-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-icon {
    display: flex;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light);
    border-radius: 4px;
    align-items: center;

}




.features-item-title {
    margin-bottom: 8px;
    margin-top: 0;
}


.typical-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--modal-overlay);
}

.typical-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}


.example-section {
    padding-bottom: 120px;

}

.example-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
    margin-top: 0;
}

.example-list {
    display: flex;
    gap: 24px;
    padding: 0;

}



.example-item {
    width: calc((100% - 48px) / 3);

}






.repeated-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
}

.team-section {
    background-color: var(--light);
    padding: 120px 0 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
    margin-top: 0;
}

.team-list {
    /* background-color: #ffffff; */

    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;

}


.team-list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.item-name {
    padding: 32px 16px 32px;

}

.title-name {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;

}

.team-icon-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
}

.team-icon {
    width: 40px;
    height: 40px;

}

.link-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
    background-color: var(--pressed-state);
}

.svg-fill {
    fill: var(--light);
}

.position {
    text-align: center;

    padding-bottom: 8px;
}

.costumers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.costumers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
    margin-top: 0;

}

.costumers-list {
    display: flex;
    gap: 24px;
    padding: 0;
    align-content: center;
    justify-content: center;
}

.costumers-list-item {
    display: flex;

    width: calc((100% - 120px) / 6);
    ;
    height: 88px;
}

.costumers-logo-container {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtitle-text);
    color: var(--subtitle-text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumers-logo-container:hover,
.costumers-logo-container:focus {
    border: 1px solid var(--pressed-state);
    color: var(--pressed-state);
}

.costumers-logo-color {
    fill: currentColor;
}

/* footer */
.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-container {
    margin-right: 120px
}

.logo-first-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: var(--light);
    max-width: 264px;
    margin: 0;
}

.media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-bg);
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-icon-item {
    height: 40px;
    width: 40px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
    padding: 0;
}

.footer-link-icon {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: var(--succes);
}

/* !FOOTER FORM */
.form {
    width: 453px;
    /* outline: 1px solid tomato; */
    display: flex;
    gap: 24px;
}

.subscribe-container {
    margin-left: 80px;
    display: inline-block;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-bg);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-bg);
    display: flex;













}

.footerinput::placeholder {
    color: var(--white-bg);
}



.footer-form-button {
    position: relative;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    background-color: var(--primary-brand);
    color: var(--white-bg);
    border-radius: 4px;
    padding-right: 64px;
    padding-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--pressed-state);
}

.plane-svg {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    margin-left: 16px;
}




img {
    display: block;

}

/*! PORTFOLIO */
.content {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    padding: 0;
}

.filter-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--light);
    color: var(--primary-brand);
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover {
    color: var(--white-bg);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
    color: var(--white-bg);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
    width: 1158px;
    margin: auto;
    padding: 0 15px 0 15px;

}

.portfolio-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);



}

.portfolio-link:hover .portfolio-overlay-content,
.portfolio-link:focus .portfolio-overlay-content {
    transform: translateY(0%);


}

.project-name {
    margin-bottom: 8px;
    margin-top: 0;
}

.typical-text {
    margin: 0;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;

}

.portfolio-overlay-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    padding: 40px 32px;
    margin: 0;
    background-color: var(--primary-brand);

}

/*! modal and backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    min-height: 584px;
    min-width: 408px;
    display: inline-block;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;

    transform: translate(-50%, -50%);
    background-color: var(--modal-bg);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    padding-top: 72px;

}

.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.close-modal:hover,
.close-modal:focus {
    background-color: var(--pressed-state);
    color: var(--white-bg);
    border: none;

}

.close-modal-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-container {
    width: 100%;
    margin-bottom: 8px;

}

.form-theme {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 16px;

}

.name-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtitle-text);
    display: block;
    margin-bottom: 4px;
}

.input-box {
    position: relative;
}

.name-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.name-input:focus {
    border-color: #4D5AE5;
}

.name-input:focus+.modal-form-icon {

    fill: #4D5AE5;
}


.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--dark);
}

.coment-box {
    margin-bottom: 16px;

}

.coment-input {
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.coment-input:focus {
    border-color: #4D5AE5;

}

.modal-form-buttoon {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    background-color: var(--primary-brand);
    color: var(--white-bg);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.policy {
    margin-bottom: 24px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

}

.privacy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtitle-text);




}

.checkbox {
    width: 16px;
    height: 16px;
    appearance: none;

}

.custom-checkbox {
    /* position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); */
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    pointer-events: none;
    display: inline-flex;

}

.checkbox:checked+.privacy-label .custom-checkbox {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light);
}

.privacy-policy {
    color: var(--primary-brand);
}

.modal-form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto",
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-bg);
    background-color: var(--primary-brand);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: var(--pressed-state);
}